---
import { CategoriesSlugSchema, CategorySchema, ProductsSchema } from '@/types';
import PostLayout from '@/layouts/PostLayout.astro';
import PostCard from '@/components/products/PostCard.astro';
import Ups from '@/components/ui/Ups.astro';
import bgImage from '@/assets/bg_home.jpg';
export async function getStaticPaths() {
  const res = await fetch(
    `${import.meta.env.API_URL}/product_categories?_fields=slug,name&per_page=20`
  );
  const json = await res.json();
  const categories = CategoriesSlugSchema.parse(json);
  return categories.map((category) => ({
    params: { slug: category.slug },
  }));
}

const { slug } = Astro.params;
const catUrl = `${import.meta.env.API_URL}/product_categories?slug=${slug}`;
const catRes = await fetch(catUrl);
const catJson = await catRes.json();
const category = CategorySchema.parse(catJson[0]);

const postsUrl = `${import.meta.env.API_URL}/products?product_categories=${category.id}&per_page=50`;
const postsRes = await fetch(postsUrl);
const postsJson = await postsRes.json();
const posts = ProductsSchema.parse(postsJson);
---

<PostLayout
  title={`Productos en la categoría: ${category.name}`}
  subtitle={`Productos en la categoría: ${category.name}`}
  bgImage={posts[0]?.featured_images?.full?.url || bgImage.src}
>
  <div
    class="mx-auto bg-gray-100 rounded-lg p-2 sm:p-3 mb-3 flex items-center flex-wrap text-sm text-gray-500"
  >
    <ul class="flex items-center">
      <li class="inline-flex items-center">
        <a href="/" class="text-gray-600 hover:text-blue-500">
          <svg
            class="w-5 h-auto fill-current mx-1 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="#000000"
            ><path d="M0 0h24v24H0V0z" fill="none"></path><path
              d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"
            ></path></svg
          >
        </a>

        <span class="mx-3 h-auto text-gray-400 font-medium">→</span>
      </li>

      <li class="inline-flex items-center">
        <a href="/catalogo" class="text-gray-600 hover:text-blue-500">
          Volver al Catálogo
        </a>
      </li>
    </ul>
  </div>
  {posts.length === 0 ? <Ups /> : posts.map((post) => <PostCard post={post} />)}
</PostLayout>
